.deals {
  margin-left: 15%;
  margin-bottom: 1%;
}
.affirm {
  background-color: #e8efee;
}
.header-deals {
  margin-top: 5%;
  padding-left: 14%;
  background-color: #e8efee;
}
.accept {
  position: relative;
  top: 31%;
  text-align: right;
}
.dealBtn {
  background-color: #12caae;
  border: 1px solid #12caae;
}
.dealBtn span {
  font-weight: 700;
  color: black;
}
.dealsInfo > .row {
  margin-bottom: 1%;
  background-color: #e8efee;
  padding: 1% 0 1% 5%;
}
.infoAboutDeal li {
  text-align: center;
}
.dealsInfo .row > div {
  display: inline-block;
  float: left;
  width: 27%;
  background-color: #bbe4d6;
  height: 25%;
}
.dealsInfo .row > div:nth-child(n+2) {
  margin-left: 2%;
}
.dealsInfo .body {
  word-wrap: break-word;
}
.offerForYou button {
  display: inline-block;
}
.types li span:hover {
  text-decoration: 2px solid underline;
}
.header-deals span {
  font-weight: 700;
  color: black;
  font-size: 18px;
}
.header-deals a {
  text-decoration: none;
}
.header-deals a:hover {
  border-bottom: 3px solid aqua;
}
.header-deals ul li {
  padding-left: 4%;
}
.deals .infoAboutDeal li:nth-child(2) img {
  width: 31%;
}
