//output:../views/sideMenu.html
.side-bar.container
    ul.list-unstyled
      li
        a(href="#!home")
          span Мій профіль
      li
        a(href="#")
          span Друзі
      li
        a(href="#")
          span Повідомлення
      li
        a(href="#!deals/inProgress")
          span Угоди
      li
        a(href="#!search")
          span Пошук
