
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid"> 
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand systitle"> <span>Пані</span><span>брат    </span></a>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link          </a></li>
        <li> 
          <div class="form-group has-feedback search">           
            <input type="name" name="name" placeholder="Пошук" class="form-control"/><i class="glyphicon glyphicon-search form-control-feedback">     </i>
          </div>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-out"></span><span>Вийти</span></a></li>
    </ul>
  </div>
</nav>
<div class="side-bar container">   
  <ul class="list-unstyled">
    <li><a href="#!home"><span>Мій профіль</span></a></li>
    <li><a href="#"><span>Друзі          </span></a></li>
    <li><a href="#"><span>Повідомлення</span></a></li>
    <li><a href="#!deals"><span>Угоди</span></a></li>
    <li><a href="#"><span>Налаштування              </span></a></li>
  </ul>
</div>
<div class="container header-deals deals">
  <div class="row">
    <div>
      <ul class="list-inline">
        <li><a href=""><span>Виконуються</span></a></li>
        <li><a href=""><span>Виконані</span></a></li>
        <li><a href=""><span>Пропозиції від Вас</span></a></li>
        <li><a href=""><span>Пропозиції для Вас</span></a></li>
      </ul>
    </div>
  </div>
</div>
<div ng-controller="deals" class="container deals dealsInfo"> 
  <div ng-repeat="i in mas" class="row">
    <div class="yourOffer"> 
      <div class="header">   
        <h4>Піаніно "Україна"</h4>
      </div>
      <div class="body">       
        <p>asasdasdasdasdasdasdasdasasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasd                  </p>
      </div>
    </div>
    <div class="infoAboutDeal">
      <div class="header">
        <ul class="list-unstyled">
          <li>              
            <h4>Угоду запропоновано:</h4>
            <p>15 травня 2017 року              </p>
          </li>
          <li>           </li>
          <li>          
            <div class="body">    
              <button class="btn dealBtn"><span>Скасувати</span></button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="offerForYou">                     
      <div class="header">   
        <h4>Піаніно "Україна"        </h4>
      </div>
      <div class="body">
        <p>))))))))))))))))))))))        </p>
      </div>
      <div class="accept">   
        <button class="btn dealBtn"><span>Погодитись    </span></button>
      </div>
    </div>
  </div>
</div>