
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid"> 
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand systitle"> <span>Пані</span><span>брат    </span></a>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link          </a></li>
        <li> 
          <div class="form-group has-feedback search">           
            <input type="name" name="name" placeholder="Пошук" class="form-control"/><i class="glyphicon glyphicon-search form-control-feedback"> </i>
          </div>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-out"></span><span>Вийти</span></a></li>
    </ul>
  </div>
</nav>